################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IntegrationTestApi
/IntegrationTest/obj
/IntegrationTestApi/bin/Debug/netcoreapp3.1
/IntegrationTestApi/obj
/IntegrationTestApi/bin/Release/netcoreapp3.1
/IntegrationTestApi/IntegrationTestApi.csproj.user
